<div class="col-md-12">
  <h2 style="text-align: center">Creator Information </h2>
  <div class="col-md-4">
    <img class= "card-img-top" src="http://www.reviewcompany.vn/public/media/uploads/company/logo/2017-08-18/4f89ee6a-28ff-4b88-87ca-5d934def0be7.png">
    <h4>Training by Framgia Team</h4>
  </div>
  <div class="col-md-8">
    <h3 style="text-align: center">Information</h3>
    <div class="col-md-12">
      <div class="col-md-2"></div>
      <div class="col-md-10" id="info">
        
        <div class="col-md-4">
          <label>Người hướng dẫn: </label>
          <label>Họ tên:</label>
          <label>Trường</label>
        </div>
        <div class="col-md-8">
          <label>Bosssss </label>
          <label>Trần Hằng</label>
          <label>Đại học Công Nghệ - Đại học Quốc gia Hà Nội</label>
        </div>     
      </div>
    </div>
  </div>
</div>
